/*header, body, footer {
  padding-left: 240px;
}*/

body {
  color: #333;
}

#visualHeader{
  text-align: center;
}

#d3visualize{
  padding-left: 15%;
}

nav {
  background-color: #607d8b
}

.container {
  padding: 2%;
  text-align: center;
}

img {
  margin: 2% auto;
}

.collapsible-header {
  background-color: #bfbec4;
  font-size: 20px;
}

.auth-header {
  background-color: #fff;
  font-size: 20px;
}

.collapsible-body {
  background-color: #bfbec4;
  padding: 2%;
  font-size: 18px;
}

.auth-body {
  background-color: #fff;
  padding: 2%;
  font-size: 18px;
}

form {
  background-color: #fff;
  padding: 2%;
  font-size: 18px;
  text-align: center;
}

.input-field {
  width: 100% !important;
}

.btn-large {
  background-color: #639fde;
  width: 200px;
}

div[back-img]{
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
}

section {
  margin: 5%;
}

.mainPageNav{
  background-color: #bfbec4;
}

.logo-wrapper:hover {
  background-color: transparent;
}

.logo-image {
  margin-left: 10px;
  height: auto;
  width: 140px;
  margin-top: 20px;
}

#landingCard{
  margin-top: 10%;
}

.main{
  padding-left: 240px;
}
.entry{
  padding-left: 240px;
}

.meal {
  padding-left: 240px;
}
@media only screen and (max-width : 992px) {
  header, body, footer {
    padding-left: 0;
  }
}

h1{
  color: #2380E2;
  font-family: sans-serif;
}

.btn {
  background: #639FDE;
  border-radius: 28px;
  font-family: sans-serif;
  color: #fff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  text-align: center;
}


.jumbotron {
  background-color: #dcdcdc;
  text-align: center;
  border-radius: 2px;
}

.toggle {
  color: #de6563;
  font-size: 20px;
  padding: 10px;
}

.toggle:hover {
  cursor: pointer;
}

.mealRating{
  text-align: center;
}

.liContainer {

  background-color: #fff;
}

.sign-form {
  display: none;
}

.egg{
  display: none;
}

.sign-in-container {
  margin: 200px auto;
  width: 400px;
}

.error-msn{
  text-align: center;
  color: red;
}

#logoFrontPage {
  display:inline-block;
  padding-top: 0.2cm;
  height: auto;
  width: 220px
}

.collapsible.popout>li {
  box-shadow: none;
}

.entry-body {
  padding: 15px 15px 0px 15px;
  text-align: center;
}

.delete-entry {
  font-size: 15px;
  border-radius: 5px;
  margin-top: 15px;
  margin-left: 12px !important;
}

.edit-icon, .save-icon {
  height: 15px;
  width: 15px;
  float: right;
  margin-left: 15px;
  margin-top: 4px;
}

.entry-item {
  margin-bottom: 5px;
}

.entry-item:hover {
  cursor: pointer;
}


.meal-image {
  max-height: 200px;
  max-width: 100%;
}

.rating {
  color: #a9a9a9;
  margin: 0;
  padding: 0;
}

ul.rating {
  display: inline-block;
}

.rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.rating .filled {
  color: #de6563;
}

#gameContainer, #pastScores {
	width: 600px;
	float: left;
}

.snakeRow {
	height: 26px;
}

.snakeColumn {
	border: 1px solid white;
	width: 24px;
	height: 24px;
	display: inline-block;
}

#startGame {
	width: 120px;
	padding: 10px;
	margin-top: 5px;
	text-align: center;
	background-color: black;
	color: white;
}

#startGame:hover {
	color: red;
	cursor: pointer;
}

.validationError {
  color: red;
}

.entry-show {
  margin-bottom: 10px;
  margin-top: 10px;
}

.input-field {
  margin-top: 0;
}

input {
  padding: 0;
}

.modal {
  overflow-x: hidden;
  background-color: #fff;
  min-height: 750px;
}

textarea {
  border: none;
}
