/*header, body, footer {
  padding-left: 240px;
}*/

div[back-img]{
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
}

.mainPageNav{
  background-color: #BFBEC4;
}

#landingCard{
  margin-top: 10%;
}

.main{
  padding-left: 240px;
}
.entry{
  padding-left: 240px;
}

.meal {
  padding-left: 240px;
}
@media only screen and (max-width : 992px) {
  header, body, footer {
    padding-left: 0;
  }
}

h1{
  color: #2380E2;
  font-family: sans-serif;
}

.btn {
  background: #639FDE;
  border-radius: 28px;
  font-family: sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  text-align: center;
}

.btn:hover{
  background-color: #2380E2;
}


.jumbotron{
  background-color: #dcdcdc;
  text-align: center;
  border-radius: 2px;
}

.mealRating{
  text-align: center;
}

.liContainer {

  background-color: white;
}

.sign-form {
  display: none;
}

.error-msn{
  text-align: center;
  color: red;
}

#logoFrontPage {
  display:inline-block;
  padding-top: 0.2cm;
  height: auto;
  width: 220px
}

.collapsible.popout>li {
  box-shadow: none;
}

.entry-body {
  padding: 15px 15px 0px 15px;
}

.delete-entry {
  font-size: 15px;
  border-radius: 5px;
  margin-top: 15px;
  margin-left: 12px !important;
}

.edit-icon, .save-icon {
  height: 15px;
  width: 15px;
  float: right;
  margin-left: 15px;
  margin-top: 4px;
}

.entry-item {
  margin-bottom: 5px;
}

.entry-item:hover {
  cursor: pointer;
}
