<!-- SIGN IN VIEW -->

  <div id="signIn" class="row">
    <div class="col m6 s10 offset-s1 offset-m3">
     
      <img src="./assets/logo.png" width="200" height="100">

     <ul class="collapsible z-depth-4" data-collapsible="accordion">
        
        <li>
          <div class="collapsible-header active"><i class="material-icons">recent_actors</i>Log in</div>
          <div class="collapsible-body">
            <!-- sign in function not defined yet -->

            <form name="signInForm" action="users/auth/login" method="post" class="col s12">
              <div class="row">
                <div class="input-field col s6">
                  <input type="text" placeholder="E-mail Adress" id="username">
                </div>
              </div>
              <div class="row">
                <div class="input-field col s6">
                  <input type="password" placeholder="Password" id="password">
                </div>
              </div>
              <button type="submit" class="btn waves-effect waves-light">Log in</button>
              <br><br>
            </form>
          </div> 
        </li>

        <li>
          <div class="collapsible-header"><i class="material-icons">chat_bubble_outline</i>Using Your Google+/Facebook</div><br>
          <div class="collapsible-body row">   
              <div class='col m3 offset-m3'> 
                <a href ='/auth/google'>
                  <img src="./assets/google_icon.png" width="25" height="25">
                </a>
                <span>Google+</span>
              </div>
              <div class='col m3'>
                <a href = '/auth/facebook'>
                  <img src="./assets/facebook_icon.png" width="23" height="23">
                </a>
                <span>Facebook</span><br><br>
             </div>
          </div>
        </li>
        
        <li>
          <div class="collapsible-header"><i class="material-icons">assignment_ind</i>Not have an account?</div>
          <div class="collapsible-body row">
            <form name="signUpForm" ng-submit="signUp()" class="col s12">
              <div class="row">
                <div class="input-field col s6">
                  <input type="text" placeholder="E-mail Adress" id="username">
                </div>
              </div>
              <div class="row">
                <div class="input-field col s6">
                  <input type="password" placeholder="Password" id="password">
                </div>
              </div>
              <button class="btn waves-effect waves-light">Sign Up</button><br><br>
            </form>
          </div>
        </li>

      </ul>
    </div>
  </div>

