<div class="row">
  <div class="input-field col s3">
    <label for="inputCreated">Input date</label>
    <input ng-model="meal.date" input-date
    type="text"
    name="created"
    id="inputCreated"
    ng-model="currentTime"
    format="mm/dd/yyyy"
    today="today"
    clear="clear"
    close="close"
    select-years="15" />
  </div>
  <div class="input-field col s6">
    <input ng-model="meal.location" id="location" type="text" class="validate col s">
    <label for="location">Location</label>
  </div>
</div>
