<!-- MEAL FORM VIEW -->
<div id="entryForm">
  <h4>Record Your Entry</h4>
  <form name="entryFrom" ng-submit="saveEntry($parent)">
    <div class="row">
      <div class="col s12">
        <!-- Entry Name -->
        <div class="row">
          <div class="input-field col s4 offset-s1">
            <input ng-model="entry.name" ng-change="saveEntry($parent)" id="entryName" type="text" class="validate">
            <label for="entryName">Entry Name</label>
          </div>
          <!-- Notes -->
          <entrynotes></entrynotes>
        </div>
      </div>
    </div>
  </form>
</div>
<!-- <button ng-click="saveEntry($parent)">Save Entry</button> -->
