<sidebar></sidebar>
<div class="container">
<input type="text" placeholder="Search Entries..." ng-model="entrySearch">
  <ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <!-- Entries -->
      <ul class="collapsible" data-collapsible="accordion" ng-controller="entryView" ng-repeat="entry in entries | orderBy: reverse | filter: entrySearch" >
        <li>
          <div class="collapsible-header">{{entry.name}}</div>
          <div class="collapsible-body entry-body">
            <div class= "row">

              <div class="entryName col m12" ng-hide="editorEnabled" ng-click="clickToEdit()">
                Name : {{entry.name}}
              </div>

              <div class="entryName col m12" ng-show="editorEnabled">
                <input ng-model="editableName" ng-show="editorEnabled">
                <a href="#" ng-click="save()">Save</a>
                or
                <a href="#" ng-click="disableEditor()">cancel</a>
              </div>

              <div class="entryRating col m12">Rating : {{entry.rating}}</div>
              <div class="entryImg col m12">{{entry.image}}</div>
              <div class="entryNotes col m12">Notes : {{entry.notes}}</div>
              <button class="btn col m1 red darken-1 delete-entry" ng-click="deleteEntry(entry)">Delete</button>
            </div>
          </div>
        </li>
      </ul>
    </li>
  </ul>
</div>
