<!-- ENTRY VIEW -->
 <ul class="collapsible" data-collapsible="expandable" ng-controller = "entryView" ng-repeat="entry in (entries | filter : {'meal_id': meal.id})" ng-click="showEntries(entry)">
  <!-- ENTRIES GO HERE (ng-repeat)-->
  <li>
    <div class="collapsible-header">{{entry.name}}</div>
    <div class="collapsible-body">
      <div class= "row">
        <div class= "entryName col s4">Name : {{entry.name}}</div>
        <div class= "entryRating col s4">Rating : {{entry.rating}}</div>
        <div class= "entryImage col s4">{{entry.image}}</div>
      </div>
      <div class = "row">
        <div class= "entryNotes col s7">Notes : {{entry.notes}}</div>
      </div>
      <div class="row">
        <button class= "col offset-s1" ng-click="deleteEntry(entry)">Delete Entry</button>
        <!-- <button class= "col offset-s1" ng-click= "">Edit Entry</button> -->
      </div>
    </div>
  </li>
</ul>
