<!-- use sidebar template on page -->
<sidebar></sidebar>
<div class="container">
  <!-- addtional container due to sidebar overlapping too much into page -->
  <div class="container">
    <!-- collapisble for adding user to add new meal -->
    <ul class="collapsible popout" data-collapsible="accordion" watch>
      <li>
        <div class="collapsible-header"><i class="material-icons">note_add</i>Add New Meal</div>
        <div class="collapsible-body"><meal-form></meal-form></div>
      </li>
    </ul>
  </div>
</div>
<meal-view></meal-view>
