<!-- Meal VIEW -->
<ul class="collapsible popout" data-collapsible="accordion" watch ng-controller= "mealView">
  <li>
    <!-- Meals -->
    <ul class="collapsible" data-collapsible="accordion" ng-repeat= "meal in meals | limitTo: -5 | orderBy: reverse" >
      <li>
        <div class="collapsible-header">{{meal.name}}</div>
        <div class="collapsible-body">
          <div class= "row">
            <div class= "mealName col s2"> Name : {{meal.name}}</div>
            <div class= "mealRating col s2">Rating : {{meal.rating}}</div>
            <div class= "mealImg col s2">{{meal.image}}<br></div>
          </div>
          <div class= "row">
            <div class= "mealLocation col s5">Location : {{meal.location}}<br></div>
            <div class= "mealDate col s6">Date : {{meal.date}}<br></div>
          </div>
          <div class = "row">
            <div class= "mealNotes col s7">Notes : {{meal.notes}}</div>
            <!-- <a class="btn col s3 offset-s1 waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a> -->
            <a type ="button" class="btn col s4" href="#mealModal" modal ng-click="showModal(meal)" >Show Meal</a>
          </div>
        </div>
      </li>
    </ul>
    <mealinfo></mealinfo>
  </li>
</ul>

    <!-- <ul class="collection">
      <li class="collection-item avatar">
        <img src="images/yuna.jpg" alt="" class="circle">
        <span class="title">Title</span>
        <p>First Line <br>
          Second Line
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
      </li>
    </ul> -->

