  <sidebar></sidebar>
<div class="container">
 <div class="row">
      <div class="container">
        <div>
          <a type="button" class="btn col s4 green darken-1" href="#mealFormModal" modal ng-click="createMeal()">New Meal</a>
         </div>
      </div>
      <mealform></mealform>
    </div> 
  <input type="text" placeholder="Search Meals..." ng-model="mealSearch">
  <ul class="collapsible popout" data-collapsible="accordion" watch ng-controller= "MealView">
    <li>
      <!-- Meals -->
      <ul class="collapsible" data-collapsible="accordion" ng-repeat= "meal in meals | orderBy: '-date' | filter: mealSearch">
        <li>
          <div class="collapsible-header">
            <div style= "float: left">{{meal.name}}</div>
            <div style = "text-align: right">{{convertDate(meal.date)}}</div>
          </div>
          <div class="collapsible-body">
            <div class= "row">
              <div class= "mealName col s4"> Name : {{meal.name}}</div>
              <div class= "mealRating col s4">Rating : {{meal.rating}}</div>
              <div class= "mealImg col s4"><img src="{{meal.image}}" /><br>{{meal.image}}</div>
            </div>
            <div class= "row">
              <div class= "mealLocation col s5">Location : {{meal.location}}<br></div>
              <div class= "mealNotes col s7">Notes : {{meal.notes}}</div>
            </div>
            <div class = "row">
              <!-- <a class="btn col s3 offset-s1 waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a> -->
              <a type="button" class="btn col s2 green darken-1" href="#mealModal" modal ng-click="showModal(meal)" >More</a>
              <a type="button" class="btn col s2 green darken-1" href="#mealFormModal" modal ng-click="editMeal(meal)">Edit</a>
              <a type="button" class="btn col s2 green darken-1" ng-click="deleteMeal(meal)">Delete</a>
            </div>
          </div>
        </li>
      </ul> 
      <mealinfo></mealinfo>
    </li>
  </ul>
</div>
