<!-- Meal VIEW -->
<ul class="collapsible popout" data-collapsible="accordion" watch ng-controller= "mealView">
  <li>
    <!-- Meals -->
    <ul class="collapsible" data-collapsible="accordion" ng-repeat = "meal in meals" ng-controller = "mealView">
      <li>
        <div class="collapsible-header">Meal 1</div>
        <div class="collapsible-body">
          {{meals.name}}<br>
          {{meals.date}}<br>
          {{meals.location}}<br>
          {{meals.rating}}<br>
          {{meals.image}}<br>
          <ul class="collapsible" data-collapsible="expandable">
            <!-- ENTRIES GO HERE (ng-repeat)-->
            <li>
              <div class="collapsible-header">Entry 1</div>
              <div class="collapsible-body">
                Name
                item
                Rating
                Notes
              Meal Img</div>
            </li>
          </ul>
        </div>
      </li>
    </ul>

    <!-- <ul class="collection">
      <li class="collection-item avatar">
        <img src="images/yuna.jpg" alt="" class="circle">
        <span class="title">Title</span>
        <p>First Line <br>
          Second Line
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
      </li>
    </ul> -->
