<sidebar></sidebar>
<div class="container" ng-controller="MealPlanner">
  <h2>Meal Planner</h2>
  <div class="row">
    <div class="col s12">
      <ul class="collapsible popout" data-collapsible="accordion" watch>
        <li>
          <ul ng-repeat="(day, meal) in days" data-collapsible="accordion" class="collapsible">
            <li>
              <div class="collapsible-header">{{day}}</div>
              <div class="collapsible-body" ng-repeat="(key, prop) in meal">
                {{prop.name}}
                {{prop.type}}
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>