<div id="mealModal" class="modal">
  <div class="modal-content">
    <h4>{{meal.name}}</h4>
    <div class= "row">
      <div class= "mealName col s4"> Name : {{meal.name}}</div>
      <div class= "mealRating col s4">Rating : {{meal.rating}}</div>
      <div class= "mealImg col s4">
        <img materialboxed src="{{meal.image}}" class="materialboxed responsive-img" />
        <br>
      </div>
    </div>
    <div class= "row">
      <div class= "mealLocation col s5">Location : {{meal.location}}<br></div>
      <div class= "mealDate col s6">Date : {{convertDate(meal.date)}}<br></div>
    </div>
    <div class = "row">
      <div class= "mealNotes col s7">Notes : {{meal.notes}}</div>
    </div>
    <entryview></entryview>
    <div class ="row">
    	<button class= "col offset-s1  modal-close" ng-click="deleteMeal(meal)">Delete Meal</button>
    	<!-- <button class= "col offset-s1" ng-click="">Edit Meal</button> -->
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Ok</a>
  </div>
</div>
