<sidebar></sidebar>
<div class="container">
  <h1>View Your Meals</h1>
 <div class="row">
      <div class="container">
        <div>
          <a type="button" class="btn-large new-btn" href="#mealFormModal" modal ng-click="openForm()">New Meal</a>
        </div>
      </div>
      <mealform></mealform>
    </div> 
  <input type="text" placeholder="Search Meals..." ng-model="mealSearch">
  <ul class="collapsible popout" data-collapsible="accordion" watch ng-controller= "MealView">
    <div class="row">
      <div class="toggle">
        <span class="col s4" style="text-align: left" ng-click="sortBy('-name')">Sort By Name</span>
        <span class="col s4" style="text-align: center" ng-click="sortBy('-rating')">Sort By Rating</span>
        <span class="col s4" style="text-align: right" ng-click="sortBy('-date')">Sort By Date</span>
      </div>
    </div>
    <li>
      <!-- Meals -->
      <ul class="collapsible" data-collapsible="accordion" ng-repeat= "meal in meals | orderBy: sortField: sortDirection | filter: mealSearch">
        <li>
          <div class="collapsible-header row">
            <span class="col s4" style="text-align: left">{{meal.name}}</span>
            <span class="col s4" ng-controller="StarRating">
              <span ng-repeat="rating in ratings">
                <span star-rating rating-value="meal.rating" max="5" readonly="true"></span>
              </span>
            </span>
            <span class="col s4" style="text-align: right">{{convertDate(meal.date)}}</span>
          </div>
          <div class="collapsible-body">
            <div class= "row">

              <div class= "mealImg">
                <img materialboxed src="{{meal.image}}" class="materialboxed responsive-img" />
                <br>
              </div>
            </div>
            <div class= "row">
              <div class= "mealLocation col s5">Location : {{meal.location}}<br></div>
              <div class= "mealNotes col s7">{{meal.notes}}</div>
            </div>
            <div class = "row">
              <a type="button" class="btn-large modal-btn" href="#mealModal" ng-show="hasEntries(meal)" modal ng-click="showModal(meal)">Entries</a>
              <a type="button" class="btn-large modal-btn" href="#mealFormModal" modal ng-click="openForm(meal)">Edit</a>
              <a type="button" class="btn-large modal-btn" ng-click="deleteMeal(meal)">Delete</a>
            </div>
          </div>
        </li>
      </ul> 
      <mealinfo></mealinfo>
    </li>
  </ul>
</div>
