
<nav>
   <div class="nav-wrapper">
     <a href="home">
       <img class='logo-image' src="/assets/Logo.png">
     </a>
     <a href="#" class="button-collapse" data-activates="mobile" data-sidenav="left" data-menuwidth="50%" data-closeonclick="false"><i class="material-icons">menu</i></a>
     <ul class="right hide-on-med-and-down">
       <li><a href="/home">Home</a></li>
       <li><a href="/mealstream">Meal Stream</a></li>
       <li><a href="/entrystream">Entry Stream</a></li>
       <li><a href="/landing" ng-click="signOut()">Sign Out</a></li>
     </ul>
     <ul class="side-nav" id="mobile">
       <li><a href="/home">Home</a></li>
       <li><a href="/mealstream">Meal Stream</a></li>
       <li><a href="/entrystream">Entry Stream</a></li>
       <li><a href="/landing" ng-click="signOut()">Sign Out</a></li>
     </ul>
   </div>
 </nav>
