<!-- top header  -->
<nav class="green lighten-2">
  <ul id="slide-out" class="side-nav fixed green darken-1">
    <img src="./assets/logo.png" width="200" height="100">
    <!-- sidebar navigation links -->
    <li><a href="/landing" ng-click="signOut()">Sign Out</a></li>
    <li><a href="/home">Home</a></li>
    <li><a href="/mealstream">Meal Stream</a></li>
    <li><a href="/entrystream">Entry Stream</a></li>
  </ul>
  <!-- sidebar hides for shrinking window button added to show sidebar -->
  <a href="#" class="button-collapse" data-activates="slide-out" data-closeonclick="false" data-sidenav="left"><i class="mdi-navigation-menu"></i></a>
  <!-- <a href="/" class="brand-logo center">foodujour</a> -->
  <img src="./assets/logo.png" class="brand-logo center" width="120" height="50">
</nav>

