<!-- SIGN UP VIEW -->
<div id='signup' class="row">
  <h1>Sign Up</h1>
  <!-- submit function not defined yet -->
  <form name="signupForm" ng-submit='signup()' class='col s12'>
    <div class="row">
      <div class="input-field col s6">
        <input type='text' placeholder="Username" id="username">
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input type="password" placeholder="Password" id="password">
      </div>
    </div>
    <button>Sign Up</button>
  </form>
  <a href="#/signin">Already a Memeber?</a>
</div>
