<!-- SIGN IN VIEW -->
<div id="signIn" class="row">
  <h1>Sign In</h1>
  <!-- sign in function not defined yet -->
  <form name="signInForm" ng-submit="signIn()" class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <input type="text" placeholder="Username" id="username">
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input type="password" placeholder="Password" id="password">
      </div>
    </div>
    <button>Sign In</button>
  </form>
  <a href="/#/signup">Not a member?</a>
</div>
